html,body,#root{
  width: 100%;
  height: 100%;
}

@media all and (max-width:320px){
	html{font-size:31.25vw;}
}
@media all and (min-width:321px) and (max-width:640px){
	html{font-size:26.67vw;}
}
@media all and (min-width:641px){
	html{font-size:15.6vw;}
}

body{
  font-size: 0.16rem;
}

.bounceInup{
  animation-duration: 1500ms;
}
.bounceOutDown{
  animation-duration: 1500ms;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}