.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  font-size:0.13rem;
  background: #f1f1f1;
}
// 后退
.header{
  position: absolute;
  z-index: 16;
  height:0.36rem;
  line-height: 0.36rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size:0.15rem;
  color: #fff;
  .head_back_box{
    width:0.4rem;
    text-align: center;
    .icon-fanhui{
      font-size:0.18rem;
      color: #ffffff;
    }
  }
  .head_home{
    width:0.5rem;
    text-align: center;
    .icon-Home{
      font-size:0.22rem;
      color: #ffffff;
    }
  }
}
// 登录注册
.user_unlogin{
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 100%;
  height:1.58rem;
  background-image: -webkit-linear-gradient(294deg,#fd465f 0,#fc5e9f 100%);
  background-image: linear-gradient(-204deg,#fd465f 0,#fc5e9f 100%);
  .user_pic{
    background:#fff;
    width: 0.6rem;
    height: 0.6rem;
    line-height: .6rem;
    text-align: center;
    border-radius: 50%;
    background-size: 0.6rem;
    margin: auto;
    .icon-user{
      font-size: 0.32rem;
      color: #fc5e9f;
    }
  }
  .operation{
    display: flex;
    padding: 0.1rem;
    width: 2rem;
    margin: auto;
    a{
      line-height: 0.25rem;
      color: #fff;
      font-weight: 700;
      font-size: 0.18rem;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 0.95rem;
    }
    .separator{
      background: #fff;
      width: 0.01rem;
      height: 0.15rem;
      margin-top:0.04rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
// 已登录
.wrapper_user{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height:1.58rem;
  background: #fff;
  .photo{
    width: 0.64rem;
    height: 0.64rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    background: #eee;
    left: 0.32rem;
    top: 0.72rem;
    z-index: 10;
  }
  .user_bg{
    position: absolute;
    width: 100%;
    height: 1.06rem;
    background-image: -webkit-linear-gradient(294deg,#fd465f 0,#fc5e9f 100%);
    background-image: linear-gradient(-204deg,#fd465f 0,#fc5e9f 100%);
    .user_info{
      font-size: 0.12rem;
      color: #fff;
      position: absolute;
      left: 1.12rem;
      bottom: 0.04rem;
      .name{
        font-family: sans-serif;
        line-height: 20px;
        display: block;
        font-size: 13px;
        letter-spacing: .65px;
      }
      .grade{
        background: rgba(255,255,255,.2);
        border-radius: 1rem;
        letter-spacing: .0065rem;
        line-height: 0.18rem;
        padding: 0.03rem 0.05rem;
      }
    }
  }
  .icons{
    width: 2.30rem;
    height: 0.50rem;
    position: absolute;
    bottom: 0.02rem;
    right: 0;
    font-size: 0.12rem;
    text-align: center;
    a{
      color: #666;
      text-decoration: none;
    }
    .icon{
      width: 0.18rem;
      height: 0.18rem;
      background-size: 0.17rem 0.17rem;
      margin: 0.07rem auto;
      background-repeat: no-repeat;
    }
    .wishlist{
      display: block;
      width: 0.76rem;
      height: 0.50rem;
      float: left;
    }
    .onsale{
      display: block;
      width: 0.76rem;
      height: 0.50rem;
      float: left;
    }
    .fav{
      display: block;
      width: 0.76rem;
      height: 0.50rem;
      float: left;
    }
  }
}
// 图标公共样式
.block_title_icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 0.24rem;
  margin-right: 0.10rem;
}
.block_title_nav{
  float: right;
  text-decoration: none;
  color: #999;
  font-size: 0.12rem;
  margin-right: 0.05rem;
}
// 订单/资产/ 共用样式
.block{
  background: #fff;
  margin-top: 0.12rem;
  .block_title{
    padding-left: 0.08rem;
    border-bottom: 0.01rem solid #eaeaea;
    height: 0.34rem;
    line-height: 0.34rem;
    font-size: 0.13rem;
    .block_title_nav{
      float: right;
      text-decoration: none;
      color: #999;
      font-size: 0.12rem;
      margin-right: 0.05rem;
    }
  }
  .block_content{
    display: flex;
    .block_item{
      flex: 1;
      text-align: center;
      display: inline-block;
      margin: 0;
      padding: 0.10rem 0;
      text-decoration: none;
      font-size: 0.12rem;
      color: #666;
      i{
        display: block;
        font-size:0.26rem;
        margin: 0.05rem auto;
        background-size: 0.24rem;
      }
      .icon-daishouhuo{
        font-size:0.24rem;
        padding-bottom: 0.02rem;
      }
    }
  }
}
// 其他菜单
.list_item{
  display: block;
  text-decoration: none;
  color: #333;
  padding-left: 0.08rem;
  border-bottom: 0.01rem solid #eaeaea;
  height: 0.34rem;
  line-height: 0.34rem;
  .icon-service{
    font-size:0.28rem; 
  }
  .icon-yijianfankui{
    font-size:0.26rem; 
  }
  .icon-daishouhuo1{
    padding-left:0.04rem;
    font-size:0.20rem;
  }
  .icon-tuichu{
    padding-left:0.04rem;
    font-size:0.22rem;
  }
  .icon-weibiaoti-{
    padding-left:0.02rem;
    font-size:0.24rem;
  }
  .arrow_right{
    float: right;
    // margin-top: 0.06rem;
    margin-right: 0.06rem;
  }
}
// 备注
.hint{
  color: #999;
  font-size: 0.11rem;
  margin: 0.15rem;
  line-height: 0.15rem;
}