#search{
  font-size: .16rem;
  overflow: hidden;
 .search_top{
   position: relative;
   display: flex;
   height:.45rem;
   border-bottom: .01rem solid #eee;
   align-items: center;
   justify-content: space-between;
   padding: 0 .1rem;
   .search_input{
     height: .3rem;
     width: 2.5rem;
     font-size: .16rem;
     border: 1px solid #eee;
     border-radius: .15rem ;
     margin: 0 .1rem;
     padding-left: .3rem;
    } 
    .icon-fangdajing{
      position: absolute;
      left:.5rem;
    }
  } 
  .search_listNone{
    display: none;
  }
  .search_listShow{
    display: block;
  }
  .my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}


}
 
