.gnd-topbar{
  width: 180%;
  // width: auto;
  padding: 0 0.125rem;
  white-space: nowrap;
  background: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  li{
    padding: 0 0.125rem;
    color: #666;
    text-align: center;
    position: relative;
    font-size: 0.14rem;
    height: 0.44rem;
    span{
      display: block;
      height: 0.43rem;
      line-height: 0.43rem;
      box-sizing: border-box;
    }
    &.active{
      span{
        color: #fe4070;
        border-bottom: 2px solid #fe4070;
      }
    }
  }
}