.am-navbar{
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.14rem;
  display: flex;
  justify-content: space-between;
  background: pink;


  .am-navbar-left{
    width: 0.3rem;
    .am-navbar-left-icon{
      width: 100%;
    }
  }
  .am-icon{
    height: 0.2rem;
    width: 0.3rem;
  }
}
