#details{
  .details_top{
    display: flex;
    height: .44rem;
    font-size: .2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 .15rem;
    border-bottom: .01rem solid #eee;
  }
}
