.settle-wrap{
  font-size: 0.14rem;
  background: #fff;
  .settle-header{
    display: flex;
    height: 0.44rem;
      line-height: 0.44rem;
    border-top: 0.02rem solid #f5f5f5;
    box-sizing: border-box;
    >li{
      flex: 1;
      text-align: center;   
      &.active {
        color: #fe4070;
    }
    }
  }
  .hidden{
    display: none;
  }
}

