.index-bar{
  width: 100%;
  height: 0.44rem;
  background: #fff;
  position: sticky;
  z-index: 999;
  top: 0;
  overflow: hidden;
  // display: flex;
  &-item{
    // flex: 1;
    float: left;
    line-height: 0.44rem;
    font-size: 0.14rem;
    text-align: center;
    padding: 0 0.175rem;
    a{
      color: #666;
      padding: 0 0.02rem;
      display: inline-block;
      position: relative;
      &.active {
        color: #ff5f16;
        // border-bottom: 3px solid #fe4070;
        .hx{
          background: #fe4070;
          width: 100%;
          height: 0.025rem;
          border-radius: 0.025rem 0.025rem 0 0;
          display: block;
          position: absolute;
          bottom: 0rem;
          right: 0.001rem;
        }
      }
    }
  }
  li:nth-child(5){
    padding-right: 0;
    }
}
